{% load static %}
{% csrf_token %}

<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>{{ title }}</title>
    <link rel="stylesheet" href="{% static 'vendor/css/style.css' %}">
        {% block css %} {% endblock %}
</head>
<body class="text-white">
<header class="container mx-auto bg-headerColor">
    <div class="flex justify-between pt-10">
        <span class="font-bold text-3xl">Шахматы</span>
    </div>
</header>
{% block content %} {% endblock %}
{% block footer %} {% endblock %}
<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.1.1/jquery.min.js"></script>
<script src="https://ajax.googleapis.com/ajax/libs/jqueryui/1.12.1/jquery-ui.min.js"></script>
{% block js %} {% endblock %}
</body>
</html>